.aboutArea {
  padding-bottom: 245px;
  position: relative;
  z-index: 2;

  @include max-1280 {
    padding-bottom: 150px;
  }
  @include max-1200 {
    padding-top: 100px;
  }
  @include max-1024 {
    padding-top: 50px;
    padding-bottom: 40px;
  }
  &.show {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: transform 0.6s ease-in-out 0s, opacity 0.6s ease-in-out 0s;
    @include max-1280 {
      .decoImg {
        opacity: 0.2;
      }
    }
    .TxT {
      animation: slideRightBlurAnimation 1.05s 0.45s ease-in-out both;
    }
    .Img{
      animation: slideUpBlurAnimation 1.05s 1.05s ease-in-out both;
    }
  }
  .decoImg {
    &.deco1 {
      bottom: -13%;
      left: -15px;
      z-index: 2;
      @include max-1024 {
        bottom: 0;
        left: -20%;
      }
      @include max-640 {
        display: none;
      }
    }
    &.deco2 {
      bottom: -8px;
      right: 0;
      z-index: 2;
      @include max-1024 {
        bottom: 50%;
      }
      @include max-640 {
        max-width: 220px;
        right: -110px;
      }
      @include max-480 {
        bottom: 37%;
      }
      @include max-400 {
        bottom: 33%;
      }
    }
    &.deco3 {
      bottom: 0.5%;
      right: 3%;
      z-index: 1;
    }
  }
  .wrap {
    max-width: 1605px;
    padding-right: 0px;
    position: relative;
    z-index: 3;
    @include max-1200 {
      padding-right: 20px;
    }
  }
  
  .aboutBox {
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .TxT {
    max-width: 370px;
    margin-top: 167px;
    opacity: 0;
    // will-change: transform, filter, opacity;
    @include max-1200 {
      margin-top: 60px;
    }
    @include max-1024 {
      max-width: 100%;
      margin-top: 20px;
    }
    .subtitle {
      color: $color-black;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: 0.25px;
      margin-bottom: 32px;
      @include max-1024 {
        margin-bottom: 20px;
      }
    }
    .title {
      color: $color-black;
      font-size: 22px;
      line-height: 1.2;
      letter-spacing: 0.4px;
    }
    .textEditor {
      color: $gray-3b3b3b;
      letter-spacing: 0.25px;
      font-size: 14px;
      line-height: 2;
      margin: initial;
      margin-top: 43px;
      image-rendering: -webkit-optimize-contrast;
      @include max-1200 {
        line-height: 1.6;
      }
      @include max-1024 {
        margin-top: 20px;
      }
      @include max-960 {
        font-size: 15px;
      }
    }
    .btnBox {
      margin-top: 35px;
      @include max-640 {
        width: 175px;
      }
    }
  }
  .imgBox {
    display: flex;
    flex: 1;
    padding-left: 83px;
    @include max-1440 {
      padding-left: 40px;
    }
    @include max-1024 {
      margin-top: 40px;
      flex: auto;
      justify-content: center;
      padding-left: 0;
    }
    .Img {
      position: relative;
      opacity: 0;
      will-change: transform, filter, opacity;
      &~.Img {
        margin-left: 42.5px;
        @include max-1440 {
          margin-left: 20px;
        }
      }
      &.large {
        width: 48.325%;
        max-width: 475px;
        transform: translateY(-5px);
        @include max-1024 {
          width: 100%;
          max-width: 350px;
        }
      }
      &.medium {
        width: 28%;
        max-width: 272px;
        align-self: flex-end;
        bottom: -110px;
        transform: translateY(5px);
        @include max-1440 {
          width: 33%;
          bottom: -70px
        }
        @include max-1024 {
          width: 100%;
          max-width: 250px;
          bottom: -25px;
        }
      }
      &.small {
        width: 15.26%;
        max-width: 150px;
        align-self: center;
        bottom: -75px;
        transform: translateY(-5px);
        @include max-1440 {
          width: 20%;
          bottom: -40px
        }
        @include max-1024 {
          width: 100%;
          max-width: 200px;
          bottom: 0px;
        }
        @include max-768 {
          display: none;
        }
      }
      img {
        width: 100%;
        height: auto;
        display: block;
        transform: scale(1);
        transition: all 1.05s ease-in-out;
      }
    }
  }
  .titleBox {
    margin-top: 170px;
    margin-right: 65px;
    @include max-1440 {
      margin-right: 40px;
    }
    @include max-1200 {
      margin-top: 60px;
    }
    @include max-1024 {
      width: 100%;
      margin-top: 0;
      margin-right: 0;
    }
  }
}
